	{% extends "admin/adminLayout.html.twig" %}

		{% block title %}Ajout d'un spectacle :{% endblock %}

		{% block content %}
			{% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
<section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Ajouter un spectacle</h2>
              <h3 class="section-subheading text-muted">Ca va être trop cool!</h3>
          </div>
        </div>
       

            {{ form_start(spectacleForm)}}
            	

                {# Titre #}
            	<div class="form-group">
            	{# affichage des éventuelles erreurs pour le champ titre #}
            	{{ form_errors(spectacleForm.title) }}
            	{# customisation du champ titre #}
            	{{ form_widget(spectacleForm.title,
            		{
            			'attr': {
            				'class': 'form-control',
            				'placeholder': 'Entrez le nom de votre Spectacle'
            			}
            		}
            	)}}
            	<p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">


                {# Contenu #}
            	<div class="form-group">
            		{# affichage des éventuelles erreurs pour le champ contenu #}
            		{{ form_errors(spectacleForm.content) }}
            		{# customisation du champ contenu #}
                    {{ form_widget(spectacleForm.content, 
                    	{ 
                    		'attr':  {
                        		'rows': '4',
                        		'class': 'form-control',
                        		'placeholder': 'Entrez du contenu'
                            }
                        }
                    )}}
            	</div>


                {# Date du Spectacle #}
            	<div class="form-group">
            		{# affichage des éventuelles erreurs pour le champ contenu #}
            		{{ form_errors(spectacleForm.dateVenue) }}
            		{# customisation du champ contenu #}
                    {{ form_widget(spectacleForm.dateVenue, 
                    	{ 
                    		'attr':  {
                        		'class': 'form-control',
                        		'placeholder': 'Entrez une date'
                            }
                        }
                    )}}
            	</div>


                {# Nombre de places Disponibles #}
            	<div class="form-group">
            		{# affichage des éventuelles erreurs pour le champ contenu #}
            		{{ form_errors(spectacleForm.nbTickets) }}
            		{# customisation du champ contenu #}
                    {{ form_widget(spectacleForm.nbTickets, 
                    	{ 
                    		'attr':  {
                        		'class': 'form-control',
                        		'placeholder': 'Entrez le places disponibles'
                            }
                        }
                    )}}
            	</div>


                {# Lieu de Spectacle #}
            	<div class="form-group">
            		{# affichage des éventuelles erreurs pour le champ contenu #}
            		{{ form_errors(spectacleForm.place) }}
            		{# customisation du champ contenu #}
                    {{ form_widget(spectacleForm.place, 
                    	{ 
                    		'attr':  {
                        		'class': 'form-control',
                        		'placeholder': 'Lieu de la représentation'
                            }
                        }
                    )}}
            	</div>


                {# Spectacle ou Stage #}
            	<div class="form-group">
            		{# affichage des éventuelles erreurs pour le champ contenu #}
            		{{ form_errors(spectacleForm.type) }}
            		{# customisation du champ contenu #}
                    {{ form_widget(spectacleForm.type, 
                    	{ 
                    		'attr':  {
                        		'class': 'form-control',
                        		'placeholder': 'Type d\'évenement'
                            }
                        }
                    )}}
            	</div>

            	{{ form_widget(spectacleForm.Enregistrer,
            		{ 
                    		'attr':  {
                        		'class': 'btn btn-default'
                    }}
            	)}}

			{{ form_end(spectacleForm)}}
    </div>
    </div>
    
</section>
		{% endblock %}

